
<form>
  <h3>Ajouter un Produit</h3>

  <div class="form-group">
    <label for="textRef">Référence :</label>
    <input type="text" id="textRef" [(ngModel)]="reference" [ngModelOptions]="{standalone: true}" disabled />
  </div>

  <div class="form-group">
    <label for="textDesc">Description :</label>
    <input type="text" id="textDesc" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" />
  </div>

  <div class="form-group">
    <label for="textPrix">Prix Unitaire :</label>
    <input type="text" id="textPrix" [(ngModel)]="prixUnit" [ngModelOptions]="{standalone: true}" />
  </div>

  <div class="form-group">
    <label for="selectCat">Catégorie :</label>
    <select id="selectCat" [(ngModel)]="categorieId" [ngModelOptions]="{standalone: true}">
      <option value="" disabled selected>-- Catégorie --</option>
      <option *ngFor="let cat of categories" [value]="cat.idCategorie">{{ cat.nomCategorie }}</option>
    </select>
  </div>

  <button type="button" (click)="ajoutProduit()">AJOUTER</button>
</form>
