<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<div>
    
     <p>Catégories :</p> 
     <select id="selectCategory" [(ngModel)]="selectedCategory" (change)="filterByCategory()">
        <option value="" disabled selected>-- Catégorie --</option>
        <option *ngFor="let category of categories" [value]="category.idCategorie">{{ category.nomCategorie }}</option>
      </select>
  </div>

<table>
    
    <p>Liste des produits</p>

    <tr>
        <th>Reference</th>
        <th>Description</th>
        <th>Prix Unit</th>
        <th>Action</th>
    </tr>
    
    <tr *ngFor="let produit of produits">
        <td>{{ produit.reference }}</td>
        <td>{{ produit.description }}</td>
        <td>{{ produit.prixUnit }} DH</td>
        <td>
          <i class="fas fa-trash action-icon" (click)="deleteProduit(produit)"></i>
        </td>
      </tr>
   
</table>